.shoppingCartItem {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 35px;
}
.button {
    width: 150px;
    height: 50px;
    margin: auto 15px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-size: 20px;
    font-family: Titillium Web;
    font-weight: bold;
}
