.container {
    margin: 0 15px;
}

.AppHeader {
    height: auto;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(160, 155, 155);
}

.logo {
    height: 65px; 
    padding: 15px 10px;
}

.menu {
    flex: 1;
}

.input {
    margin-left: auto;
    max-width: 250px;
}
